import { IsString, IsNumber,IsBoolean,IsInt,IsArray,IsDate,IsPositive,ArrayNotEmpty,IsDateString, IsNotEmpty, IsEmail, IsOptional, Length, Min, Max, ValidateIf, } from 'class-validator';
import { ApiProperty } from "@nestjs/swagger"
export class Create${entity_upper_camel}Dto {
    ${create_entity_dto_attribute}
}
