import { PartialType } from '@nestjs/mapped-types';
import { Create${entity_upper_camel}Dto } from './create-${entity_lower_underline}.dto';

export class Update${entity_upper_camel}Dto extends PartialType(Create${entity_upper_camel}Dto) {

}
