import { Module } from '@nestjs/common';
import { PrismaModule } from './prisma/prisma.module';
import { AppController } from './app.controller';
import { AppService } from './app.service';
${import_module_list}

@Module({
  imports: [
    PrismaModule,
    ${module_list}
  ],
  exports: [],
  providers:[AppService],
  controllers: [ AppController ]
})
export class AppModule {}
